<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jeux vidéo</title>
    
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Raleway&display=swap" rel="stylesheet">
    <link href="./css/normalize.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">

    {{#each styles}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}

    {{#each scripts}}
        <script type="module" src="{{this}}"></script>
    {{/each}}
</head>
<body>
    {{>header}}

    <main>
        {{{body}}}
    </main>

    {{>footer}}
</body>
</html>