<section class="auth">
    <h2>Connexion</h2>

    <form id="form-connexion" class="form-authentication" novalidate>
        <label for="input-username">Nom d'utilisateur</label>
        <input type="text" id="input-username">

        <label for="input-password">Mot de passe</label>
        <input type="password" id="input-password">
        
        <input type="submit" value="Connexion">

        <div id="error"></div>
    </form>
</section>
